<html>
    <head>
        <title>TO-DO App</title>
        <link href="/assets/index.css" rel="stylesheet" type="text/css">
        <link href="/assets/commonStyles.css" rel="stylesheet" type="text/css">
        
        <!--Jquery scripts-->
        <script  src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <%- include ('subViews/header'); %>
        <h1 class="tempHead"> Login page will go here</h1>
        <h1 class="tempHead"> Please go to /todo</h1>
        <%- include ('subViews/footer'); %>
        <!--Special page scripts-->
        <script src="/assets/scripts/indexjs.js"></script>

    </body>
    
</html>