<html>
    <head>
        <title>Sign Up</title>
        <link href="/assets/commonStyles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include('subViews/header'); -%>
            
        <%- include ('subViews/footer'); %>
    </body>
</html>